head{
  margin: 0;
  font-family: 'Do Hyeon Sans';
}

a{
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #ccc;
}

i{
  color: #fff;
}

.navbar{
display: flex;
justify-content: space-between;
align-items: center;
background-color: #263343;
padding: 8px 12px;>
}
.sidemenu{
  display: none;
}

.nav_logo {
  font-size: 40px;
}

.nav_menu{
  margin: auto;
  display: flex;
  list-style: none;
  padding left: 0;
}

.nav_menu li{
  display: inline;
  font-size: 20px;
  padding: 8px 20px;
}

.nav_login{
  float: right;
  display: flex;
  list-style: none;
}

.nav_login li{
  font-size: 15px;
  padding: 5px;>
}

@media screen and (max-width:1200px) {
  .nav_logo{
    font-size: 30px;
  }
  .nav_menu li{
    font-size: 14px;
  }
  .nav_login li{
    font-size: 12px;
  }
}

@media screen and (max-width:800px) {
  .navbar{
    padding: 8px 8px;
  }
  .sidemenu{
    display: block;
  }
  .nav_menu{
    display: none;
  }
  .nav_logo{
    align-items: center;
    font-size: 20px;
    float: none;
  }
  .nav_login li{
    font-size: 8px;
    padding: 3px;
  }
}
