.it_layout{
border: 12px solid #BDBDBD;
border-radius: 12px;
margin-left: auto;
margin-right: auto;
width: 60%;
margin: 2% auto;
color: #263343;
word-break:break-all;

}
/*--- 삭제시 모달창 부분 ---*/
/* The Modal (background) */
.bidmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-bid {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  font-size: 2rem;
  width: 50%;

}
.modal_bidheader{

  background-color: #31376c;
  font-size: 3rem;
  color: #ffffff;

}
.modal-bid{
  text-align: center;
}
.bid_info{
  text-align: center;
}
.nak_price{
  margin-left: 9rem;
  display: flex;
}
/* The Close Button */

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/*--- 삭제시 모달창 부분 ---*/
@media screen and (max-width: 800px){
  .it_layout{
    width: auto;
    height: auto;
  }
}

.it_main{
display: flex;
text-align: center;
margin:2% auto;
justify-content: space-between;

}
.namesize {
margin-left: 35%;

}
.plus i {
  margin-right: 10px;
}
.it_main_lime{
border: 10%;
}
.it_button{
  display: flex;
  margin: 3%

}
.it_subbutton1 {
  margin:1%;
}
b{

  height:auto;
}


#but1{
  flex:none;
  width: 40%;
  margin: 3%;
  padding: 18px 40px;
  border-radius: 4%;
}
#but2{
flex:none;
width: 40%;
margin: 3%;
margin-left: auto;
padding: 18px 40px;
border-radius: 4%;


}
#su_but2{
  flex:none;
  width: 30%;
  padding: 12px 14px;
  margin: 1%;
  border-radius: 4%;

}
#su_but1,#su_but3{
  flex: none;
  width: 18%;
  margin: 1%;
  padding:12px 14px;
  border-radius: 4%;

}
#su_but4{
  flex: none;
  width: 20%;
  margin: 2%;
  padding:12px 14px;
  border-radius: 4%;

}
.it_if1 , .it_if2{
  display: flex;
  border: 1px;
  border-style: solid;
  border-color: black;
  height: 180px;
  position: relative;

}
.it_img{
  width: 20%;

  margin-left: 2%;
  margin-right:2%;
  overflow: hidden;

}
.it_img1{

  text-decoration: none;
}
.ite_img{
width: 100%;
height: 150px;


word-break:break-all;
}

.ite_na{
  width: 130px;
  height: 25px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space : nowrap;
  overflow: hidden;
  text-align: center;
}
.price1{
  width: 20%;
  margin-left:3%;
  margin-right: :3%;
  margin-top: 5%;
  text-align: center;


}

.state1{
  width: 20%;
  margin-left:4%;
  margin-right: :3%;
  margin-top: 5%;
  text-align: center;
}
.yesorno{
  width: 20%;
  margin-left:4%;
  margin-right: :3%;
  margin-top: 5%;
  text-align: center;
}

.hide_but{
  margin-top:50px;
}
