.login_layout{
    border: 10px solid #263343;
    border-radius: 12px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    width:460px;
}


.login_form{
  display: block;
  margin:auto;
  padding: 10%;
}

#id, #pw, #login_bt{
    margin: 10px auto;
    width: 90%;
    height: 50px;

}

.center-block{
    margin:auto;
    padding: 10%;
    width: 60%;
    height: auto;
    display: block;
}
@media screen and (max-width"800px)
