/* ------배경화면----- */
.article{
  border-radius: 10px;
  border-top: 10px #e1f5fe;
  border-bottom: 10px #e1f5fe;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  height: auto;
  width:1200px;
  margin:30px auto;
  background: 5px, 5px;
}
.main_form{
  margin:auto;
}
.right_side_form {

}

/* ----퀵메뉴---- */
.quickBox{
  position: absolute;
  margin: auto;
  right:200px;
  top: 120px;
  hight: auto;
  border: 1px solid #bdbdbd;
  background-color: #ffffff;
  text-align: center;
  z-index: 1;
}
.re_view{
  border: 1px solid #bdbdbd;
  background-color: #ffffff;
  height: 200px;
  width:auto;

}

.view_list {
  display: block;
  width: auto;
  height: auto;
  margin-bottom: 5px;
  position: relative;
  font-size: 13px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;

}
.view_item{
  width: auto;
  height: auto;
}
.view_item img{
  position: absolute; top:0; left: 0;
  margin: 5px 10px;
  width: 66px;
  height: 66px;
}

.btn_top{
  position: relative;
  background-color: #ffffff;
  border: 1px solid #bdbdbd;
}

/* 실시간 인기 검색어 */

#search {
  margin:0px;
  padding:0px;
  width:100%;
}

.container_item {
  width:1150px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/*a,img {
border:0px;
text-decoration:none;
}*/
ul,li {
  list-style:none;
  padding:0px;
  margin:0px;
}


@media screen and (max-width:800px) {
  .container_item{
    width:auto;
  }
  .best_search{
    width:auto;
  }
}
/*슬라이드 배너*/

/* ---경매건수 표시--- */
h1{
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 20px;
  width: 1150px;
  border-top: solid 1px #bdbdbd;
}

h2{
  margin-top: 50px;
  padding: 1%;
  width: 1060px;
  border-top: solid 1px #bdbdbd;
  border-bottom: solid 1px #bdbdbd;
}

.list_name{
  float: left;

}


.categorybar{
  background-color: #bdbdbd;
  position: absolute;
  width: 1150px;
  height: 55px;
}
.categorybar a {
  margin-left: 25px;
  margin-top: 7px;
  padding: 10px;
  float: left;
  color: white;
  text-decoration: none;
  font-size: 15px;
  width: 10%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}


/* --제품 --*/
.best_item{
  border-left: solid 1px #bdbdbd;
  border-right: solid 1px #bdbdbd;
  border-bottom: solid 50px #bdbdbd;
  /*margin-left: 20px;*/
  margin-right: 20px;
  padding: 2%;
  width: 1100px;
  height: auto;
}

.item_list{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 1110px;
  height: 700px;
  display: inline-block;
  align-items: center;

}

.item{
  margin-top: 8px;
  margin-left: 10px;
  background-size: auto;
  background-color: #ffffff;
  border: solid 1px #efefef;
  float: left;
  display: inline-block;
}
.item a,p{
  padding-left: 8px;
  padding-right: 8px;
  width: auto; height: auto;
}

#itmg {
  width: 200px;
  height: 200px;
}

.page {
  width: 1200px;
  height:50px;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  text-align: center!important;
  display: block;
}
/*
.p_center{
text-align: center !important;
}
*/
.page a{
  color: #black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  width:auto;
  height: 100px;
  border: 1px solid #ddd;
}


.page a:hover:not(.active) {
  background-color: #aab6fe;
}
.tag a{
  border-radius: 20px;
  font-size: 5px;
  float: left;
  width: 1200px;
  background-color: #ccc;
}

@media screen and (max-width: 800px){
  .article{
    width: auto;
    height: auto;
  }
  .best_item{
    width: auto;
    height: auto;
  }
  .page{
    width:auto;
    height:auto;
  }
  .categorybar{
    display: none;
    width:auto;
    font-size: 3px;
  }
  .item_list{
    width: auto;
    height: auto;
    font-size: 5px;
  }
  .item{
    width: auto;
    height: auto;
  }
  h1{
    width:auto;
    font-size: 5px;
  }
  h2{
    width:auto;
    height: auto;
    font-size:  5px;

  }
  .fade img {
    display: none;
  }
  .slideshow-container {
    width: auto;
    height: auto;
    display: none;
  }
  .quickBox{
    display: none;
    width:auto;
    height:auto;
  }
}

/* swiper */
/* Slideshow container */
.slideshow-container {
  width: 1150px;
  height: 200px;
  position: relative;
}
.fade img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Swiper {
  margin-bottom: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}
