.article{
  border: 5px solid #263343;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  width:1200px;
  margin:30px auto;
}
.pagination {
  display: inline-block;
}

.pagination a{
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  display: block;

}


.pagination a:hover:not(.active) {
  background-color: #263343;
}

@media screen and (max-width: 800px){
  .article{
    width: auto;
    height: auto;
  }
}
