/* *{
  box-sizing: border-box;
} */
.mc_layout{
border-top: 1px solid #BDBDBD;
border-bottom: 1px solid #BDBDBD;
margin-left: auto;
margin-right: auto;
width: 60%;
margin: 2% auto;
color: #263343;

}
@media screen and (max-width: 800px){
  .mc_layout{
    width: auto;
    /* height: auto; */
  }
}
 /* 검색버튼  */
.mc_main{
text-align: center;
margin:2% auto;
width: 430px;
height: 30px;
display: flex;
border: 2px solid #263343;
background:rgb(250, 250, 250)



}

.it_sea{
  width:100%;
  border:0;

}

.sea_ck{
  width: 10%;
  border: 0;
}
/* 검색버튼끝 */
.mc_name{
  margin-bottom: 10px;
}

.it_cago{
  /* height: 190px; */
  /* border: 2px; */
  /* border-style:solid;
  border-color: #263343; */
  margin-top: 2%;

}
.ite_menu{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;

  padding-bottom: : 2%;

}


.ma_main{
  margin:3%;
  border-bottom: 1px solid #263343;
}
.m_1{
  font-size: 20px;
}
.m_img{
  margin-left: 3%;
  margin-bottom: 3%;
  width:100%;
  border: 2px solid rgb(198, 214, 210);
}
.m_layout{
  flex-wrap: wrap;
  display:flex;
}

.am_1{
  text-decoration: none;

}
.m_info{
  margin-left: 1rem;
  margin-bottom: 2%;
  width: 18%;

}
@media screen and (max-width: 800px){
  .m_info{

    width: 40%;

  }
}
.m_name{
  border-top: 2px solid rgb(198, 214, 210);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;


}
.s_img1{
  width: 100%;
  height: 200px;

}
.su_img{
  display:inline-block;

}
.m_money{
  margin-top: 10px;
  width: 100%;
  border-top : 2px solid rgb(198, 214, 210);
}
@media screen and(max-width:800px) {
  .m_info{
    display: block;
  }
}
