* {box-sizing:border-box}

.content{
  display: block;
  width: 65%;
  height: auto;
  margin: auto;
}
.detail_page{
  display: block;
  width: 100%;
  height: auto;
  margin: auto;

}
.detail_head{
  display: flex;
  padding: 1.5rem 0;
  margin: 1rem 0;
  width:auto;
  height:auto;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}

/* 이미지슬라이드 */
.pr_deta_pic{
  width:auto;
  height:auto;
  margin-right: 1rem;
}

.detailimg_list{
  position: relative;
}

.mySlides{
  width: 26em;
  height: 26em;
}
/* .btn-floating-left{
  position: absolute;
  top: 45%;
  left: 0;
}
.btn-floating-right{
  position: absolute;
  top: 45%;
  right: 0;
} */
/* 이미지 슬라이드를 숨긴다....Hide the images by default*/
/* .mySlides {
  display: none;
  width: 26rem;
  height:26rem;

} */
/*이미지슬라이드  끝 */

/* 스을라이드 쇼 쇼 */

/* Slideshow container */

.mySlidess {
  display: none;
  width: 26rem;
  height: 26rem;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* 스을라이드 쇼 쇼 */

/* 판매자의 다른 상품 */
.detail_seller_info{
  position: relative;
  margin-top: 1rem;
  width: auto;
  height: auto;
}
.seller_page{
  width:12rem;
  height:auto;
  padding-bottom: 0.65rem;
  border-bottom: 1px solid #bdbdbd;
}

.seller_img{
  width:2rem;
  height: 2rem;
  border-radius: 1rem;
  margin: 0 0.5rem;
}
.otr_prod_item{
  display: flex;
}
.otr_prod_item_img{
  width:5rem;
  height: 5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
.otr_prod_item_np{
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

/* 판매자의 다른 상품 끝 */
.detail_product_info{
  display: block;
  margin: 0 1rem;
  padding-right: 1rem;
  width:26.88rem;
  height:26.88rem;
  border-right: 1px solid #d5d3d3;
}
.tit_pri{
  border-bottom: 1px solid #bdbdbd;
}
.d_title{
  font-size: 2rem;
  margin-bottom: 1rem;
}
.time_price{
  display: flex;
}
.d_price{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.d_price_info{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-left:0.5rem;
}
.lvt{
  display: flex;
  margin-bottom: 1.5rem;
}
.isk{
  display: flex;
  width:auto;
  align-items: center;
  margin-left: 0.5rem;
  margin-top: 0.8rem;
  padding-left: 0.2rem;
  border-left: 1px solid #bdbdbd;
}
.intf{
  margin-left: 0.5rem;
}
.pd_st{
  display:flex;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.bt_box{
  display: flex;
}
.ckadu{

}
/* 상품페이지 끝 */

/* 연관상품 */
.other_item{
  display: flex;
}
.otitm{
  margin-right: 1rem;
}

.label{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
/* 연관상품  끝*/
/* 상품정보, 댓글 페이지 */
 .tkdvnainfo{
   height: 50%;
 }
 .btdg{
   width: 30rem;
   hight: 5rem;
 }
 .sc-info_detail{
   font-size: 2rem;
   margin: 2rem 0;
 }
 .sc-info_sodyd{
   font-size: 20px;
   display: block;
 }

 .btn_cl{
   display: flex;
 }
/* 상품정보, 댓글 페이지 끝*/






/*  <원래 있던 ...> Fading animation */
/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */
/* 여기 까지 원래 있던.. slideshow */
@media screen and (max-width:800px) {
  .d_title{
    font-size: auto;
  }
  .content{
    width: auto;
    height: auto;
  }
  .detail_product_info{
    border: none;
  }
  .detail_head{
    width:auto;
    height:auto;
    display: block;
  }
  .slider{
    align-items: center;
    width: auto;
    height: auto;
  }
  .mySlides{
    margin-left: 10px;
    margin-right: 10px;
    height:98%;
    width: 98%;
  }
  .sliderFrame{
    width: auto;
    height:auto;

  }
  .detail_product_info{
    width: auto;
    height: auto;
  }
  .d_info{
    width: auto;
    height: auto;
    font-size: 10px;
  }
  .pr_deta_pic{
    width: auto;
    height: auto;
  }
  .other_item{
    display: block;
  }

}
