* {box-sizing:border-box}
a {
  text-decoration:none;
}

/* map API */
#map {
  width:50%;
  height:400px;
  clear:both;
  z-index: 0;
}
.mapst{
  padding: 1rem;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
/* The Modal (background) */
     .modal2{
         display: none; /* Hidden by default */
         position: fixed; /* Stay in place */
         z-index: 1; /* Sit on top */
         left: 0;
         top: 0;
         width: 100%; /* Full width */
         height: 100%; /* Full height */
         overflow: auto; /* Enable scroll if needed */
         background-color: rgb(0,0,0); /* Fallback color */
         background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
     }

     /* Modal Content/Box */
     .modal-content {
         background-color: #fefefe;
         margin: 15% auto; /* 15% from the top and centered */
         padding: 20px;
         border: 1px solid #888;
         width: 30%; /* Could be more or less, depending on screen size */
     }
     /* The Close Button */
     .close {
         color: #aaa;
         float: right;
         font-size: 28px;
         font-weight: bold;
     }
     .close:hover,.close:focus {
         color: black;
         text-decoration: none;
         cursor: pointer;
     }

/* map API */
.content{
  display: block;
  width: 65%;
  height: auto;
  margin: auto;
}
.detail_page{
  display: block;
  width: 100%;
  height: auto;
  margin: auto;

}
.dpbox{
  width:auto;
}
.seller_info_box{

}

/* 댓글 창 */
.people_comment{
  width:50rem;
}
.dat_lab{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.comment_fontlength{
  display: flex;
  width: auto;
  height: 50px;
  border: 1px solid #e0e0e0;
  padding:10px;
}

.sc-fontlength{
  width:100%;
  height:auto;
  margin-top: 5px;
  vertical-align: middle;
  align-items: center;
}
.user_img{
  width:2rem;
  height: 2rem;
  border-radius: 1rem;
  margin: 0 0.5rem;
}
.buyer_comment{
  display: flex;
  width:auto;
  margin-bottom: 10px;
}
.comment_dunglok{
  border-style: none;
  height:2rem;
  width: 3rem;
  display: inline-block;
  align-items: center;

}
/* .comment_new{
  display: flex;
} */
.user_comnt{
  display: block;
  margin-right: 15px;
}
.comment_munie{
  width:100%;
  height:80px;
  padding: 20px;
  border: 1px solid #e0e0e0;
}
.create_comment{
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e0e0e0;
}
.neadcomt{
  vertical-align: middle;
}
.comment_text{
  width:100%;
  height:100%;
  font-size: 13px;
  line-height: 1.5;
  resize:none;
}
.combox{
  margin-right: 12rem;
}

.hiderecomment{
  display: none;
}

.larg{
  display: none;
}

.recomment_text{
  width: 100%;
  height: 40px;
  font-size: 13px;
  border-bottom: 1px solid #bdbdbd;
  line-height: 1.5;
  resize: none;

}
.largcomment_text{
  right:0;
  width: 80%;
  height: 40px;
  font-size: 13px;
  border-bottom: 1px solid #bdbdbd;
  line-height: 1.5;
  resize: none;
}

#laco_texts{
  padding-left: 90px;
}
.reaq{
  margin-left: 70px;
  width: 12px;
  height: 12px;
  border-left: 1px solid #c5cbd0;
  border-bottom: 1px solid #c5cbd0;
}
.newlargecomment{
  margin-left: 6rem;
}
.largvalue_comment{
  margin-left: 10px;
  height:2rem;
  word-break:break-all;
}
.comment_people{
  margin-bottom: 2px;
}
.value_comment{
  margin-left: 10px;
  height:5rem;
  word-break:break-all;
}
.comment_naeyoung{
  padding: 12px 12px 12px 64px;
}
.del_comment{
  border:none;
}
.largecommentgood{
  display: flex;
  width: 200px;
}
/* 댓글 창*/

.deal_cat_location{
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #bdbdbd;
}
.textboxsize{
  width:500px;
  height:100px;
  resize:none;
}
.detail_head{
  display: flex;
  padding: 1.5rem 0;
  margin: 1rem 0;
  /* width:55rem; */
  height:auto;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}

.sc-info_detail{
  border-bottom: solid 1px #bdbdbd;
}

/* 이미지슬라이드 */
.pr_deta_pic{
  width:auto;
  height:auto;
  margin-right: 1rem;
}

.detailimg_list{
  position: relative;
}
/* 이미지 크기 채워 맞추는 부분 */
.mySlides{
  width: 26em;
  height: 26em;

  /* width: auto;
  height: auto; */
}
/* 이미지 크기 채워 맞추는 부분 */
/*이미지슬라이드  끝 */

/* 스을라이드 쇼 쇼 */

/* Slideshow container */

.mySlidess {
  display: none;
  width: 26rem;
  height: 26rem;
}
.mySlides img{
  width: auto;
  height: auto;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* 스을라이드 쇼 쇼 */

/* 판매자의 다른 상품 */
.detail_seller_info{
  display:flex;
  position: relative;
  margin-top: 1rem;
  width: auto;
  height: auto;
  /* float: right; */
}
.seller_page{
  width:12rem;
  height:auto;
  padding-bottom: 0.65rem;
  border-bottom: 1px solid #bdbdbd;
}

.seller_img{
  width:2rem;
  height: 2rem;
  border-radius: 1rem;
  margin: 0 0.5rem;
}
.otr_prod_item{
  display: flex;
}
.otr_prod_item_img{
  width:5rem;
  height: 5rem;
  margin-top: 0.5rem;
}
.otr_prod_item_np{
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

/* 판매자의 다른 상품 끝 */

.detail_product_info{
  display: block;
  margin: 0 1rem;
  width:auto;
  padding-right: 1rem;
  width: auto;
  height:26rem;
}
.tit_pri{
  border-bottom: 1px solid #bdbdbd;
}
.d_title{
  font-size: 2rem;
  margin-bottom: 1rem;
}
.time_price{
  display: flex;
}
.gm_dday{
  display: flex;
}
.deadtime_lab{
  font-size: 1.5rem;
}
.d_price{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.d_price_info{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-left:0.5rem;
}
.lvt{
  display: flex;
  margin-bottom: 1.5rem;
}
.isk{
  display: flex;
  width:auto;
  align-items: center;
  margin-top: 0.8rem;
  padding-left: 1rem;
  border-left: 1px solid #bdbdbd;
}
.intf{
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.pd_st{
  display:flex;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.bt_box{
  display: flex;
  width:auto;
}
.unWla{
  width: 10.7rem;
  height: 2rem;
  border-style: none;
  margin-top: 1.7rem;
}
.ckadu{
  width: 10.7rem;
  height: 2rem;
  border-style: none;
  margin-top: 1.7rem;
}
.wjsghk{
  width: 10.7rem;
  height: 2rem;
  border-style: none;
  margin-top: 1.7rem;
}
/* 상품페이지 끝 */

/* 연관상품 */
.other_item{
  display: flex;
}
.otitm{
  margin-right: 1rem;
}

.label{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
/* 연관상품  끝*/
/* 상품정보, 댓글 페이지 */
.tkdvnainfo{
  height: 50%;
}
.btdg{
  width: 24rem;
  height: 2rem;
  margin-right:
  border-style: none;
  align-items: center;
}
.sc-info_detail{
  font-size: 2rem;
  margin: 2rem 0;
  width: auto;
}
.sc-info_sodyd{
  font-size: 20px;
  display: block;
  margin: 40px 0px;
}

.btn_cl{
  display: flex;
}
.modifypro{
  width: 8rem;
  height: 3rem;
  font-size: 18px;
  border-style: none;
  align-items: center;
}
.delproduct{
  width: 8rem;
  height: 3rem;
  font-size: 18px;
  border-style: none;
  align-items: center;
}
/* 상품정보, 댓글 페이지 끝*/

@media screen and (max-width:800px) {
  #map {
    width:100%;
    height:400px;
    clear:both;
    z-index: 0;
  }
  .d_title{
    font-size: auto;
  }
  .content{
    width: auto;
    height: auto;
  }
  .detail_product_info{
    border: none;
  }
  .detail_head{
    width:auto;
    height:auto;
    display: block;
  }
  .slider{
    align-items: center;
    width: auto;
    height: auto;
  }
  .mySlides{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    width: 100%;
  }
  .mySlidess{
    margin-left: 10px;
    margin-right: 10px;
    height:auto;
    width: auto;
  }
  .combox{
    margin-right: 0rem;
  }
  /* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  } */
  .sliderFrame{
    width: auto;
    height:auto;

  }
  .detail_product_info{
    width: auto;
    height: auto;
  }
  .detail_seller_info {
    width: auto;
    height: auto;
    /* float: right; */
  }

  .d_info{
    width: auto;
    height: auto;
    font-size: 10px;
  }
  .pr_deta_pic{
    width: auto;
    height: auto;
  }
  .other_item{
    display: block;
  }
  .bt_box{
    display: block;
  }
  .unWla{
    width: 10rem;
    height: 2rem;
    margin: auto;
    border-style: none;
  }
  .dat_lab{
    width:auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .datgul{
    width:100%;
  }
  h2{
    width:100%;
  }
  .ckadu{
    width: 10rem;
    height: 2rem;
    margin: auto;
    border-style: none;
  }
  .wjsghk{
    width: 10rem;
    height: 2rem;
    margin: auto;
    border-style: none;
  }

  .btdg{
    width: auto;
    height: 2rem;
    border-style: none;
    align-items: center;
  }
}
