

.sidemenu{
  height:100%;
  width:0;
  position: fixed;
  z-index:1;
  top: 0;
  left: 0;
  background-color: #263343;
  overflow-x: hidden;
  overflow-y: hidden;

  transition:0.5s ease-in-out;
  padding-top: 8px;

}
.sidemenu a{
  padding: 8px 12px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  overflow-x: hidden;
  transition: 0.3s;

}
.sidemenu a:hover{
  color: #ccc;
}
