*{
  margin:0;
  padding:0;
}

div{
  width:460px;
  margin:30px auto;
}
img{
  width:35%;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

li{
  list-style: none;
  margin: 15px 0;
}

input, select{
  height:50px;
}
.sign_up{
  border: 10px solid #263343;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}
#new_id{
  width:460px;
}
#pwd1{
  width:460px;
}
#pwd2{
  width:460px;
}
#new_name{
  width:460px;
}
#birthday{
  width:460px;
}
#em{
   size:10px;
}
#alert-success{
  color:green;
}
#alert-danger{
  color:red;
}
label{
  line-height: 30px;
}

 button{
   font-size: 15px;
   cursor: pointer;
   color:white;
   display: block;
   background-color: #263343;
   border:0px solid #263343;
  }

  #bt_secu{
    padding: 17px 30px; float:right;
  }

  .sub{
    padding:20px 200px;
  }

  lebel{
    font-weight: bold;
  }

  #sex{
    width:460px;
  }

  #tel{
    width:295px;
  }

  #sel_tel{
    width:460px;
  }

  small{
    color: #263343;
  }
