*{
  width: auto;
  height: auto;
}
.wish_tag{
  border: 1px 0 solid #bdbdbd;
  margin: 2rem 0;
  display: block;
}
.wish_content{
  display: block;
  width: 70%;
  height: auto;
  margin: auto;
}
.wish_header{
  width:auto;
  height:auto;
  margin: 2rem 0;

}
.hyper{
  float: right;
}
.mylike{
  font-size: 2rem;

}
.w_chack{
  margin: 2rme 0;
}
.w_h_bt {
  border: 1px solid #bdbdbd;
  display: flex;
  margin: 2rem 0;
  float: right;
}
.wish_block{
  display: flex;
}
.wish_item_info{
  width:15rem;
  height: auto;
  border: 1px solid #bdbdbd;
  margin-right: 2rem;
  margin-bottom: 5rem;
}
.wish_item_img{
  position: relative;
  width:15rem;
  height: 15rem;
}
img{
  position: relative;
  width: 15rem;
  height: 15rem;
}

.tung{
  width:auto;
  height: 100px;
}
