*{
  margin: 0;
  padding:0;

}
.find_id li{
  list-style: none;
  display: block;

}

.find_account{
    border: 10px solid #263343;
    border-radius: 12px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    width:460px;
    display: block;
    background-image: url("/img/dadang.jpg");
}
.line {
  border: solid #263343;
  border-width: 10px 0 0;
  margin: auto;
}

.find_id{
  padding: 70px 0;
  text-align: center;
}

.find_password{
  padding: 70px 0;
  text-align: center;
}

.find_password li{
  list-style: none;
  display: block;
}

#my_names, #phone, #find_id, #my_id, #phon_num, #find_pw{
    margin: 2%;
    width: 90%;
    height: 50px;

}

.center-block{
    margin:auto;
    padding: 10%;
    width: 60%;
    height: auto;
}
@media screen and (max-width: 460px){
  .find_account{
    width: auto;
    height: auto;
  }
}
