*{
  margin: auto;
  padding:0;

}
body{
  background-color: #f5f6f7;
}

a{
  text-decoration:none;
}

.login_form li{
  list-style: none;
  display: block;

}

.login_layout{

    border-radius: 12px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    width:460px;
    display: block;
    /* background-image: url("/img/dadang.jpg"); */
}


.login_form{
  /* padding: 70px 0; */
  text-align: center;
}
.logbt{
  border: 0;
  outline: 0;
  border: 0;
  color: #fff;
  background-color: #3858a6;
}
#id, #pw, #repw, #login_bt{
    margin: 2%;
    width: 90%;
    height: 50px;
    border: 1px solid #dadada;

}

.center-block{
    margin:auto;
    /* padding: 10%; */
    width: 60%;
    height: auto;
}
@media screen and (max-width: 800px){
  .login_layout{
    width: auto;
    height: auto;
  }
}
