body{
  background-color: #f5f6f7;
}
/* chack box */
.checkbox-container {
  position: relative;
}

// 기본 체크박스 없애기

.checkbox-container input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0
}

// 웹의 경우 커서에 pointer 설정
.checkbox-container input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cusor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// 새로운 디자인의 체크박스 만들기
.checkbox-container input[type="checkbox"] + label:before {
  content: ' ';
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: -2px 8px 0 0;
  text-align: center;
  vertical-align: middle;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
.checkbox-container input[type="checkbox"] + label:active:before,
.checkbox-container input[type="checkbox"]:checked + label:active:before {
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.checkbox-container input[type="checkbox"]:checked + label:before {
  content: '\2713';
  color: #314ca2;
  text-shadow: 1px 1px white;
  background: #f1f4ff;
  border-color: #adb8c0;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
/* chack box */
.rull_layout {
  border-radius: 12px;
  /* margin-top: 5%; */
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 2rem;
  width:28%;
  /* background-image: url("/img/dadang.jpg"); */
}
.dirrhks{
  display: flex;
}
.rull_dg{
  font-size: 20px;
}
@media screen and (max-width: 800px){
  .rull_layout{
    width: auto;
    height: auto;
  }
}

.rull_head {
  width: auto;
  height: 3em;
  margin-bottom: 3rem;
}
.rull_header{
  text-align: center;
  font-size: 30px;
}

textarea{
  width: 100%;
  resize:none;
  border: 1px solid #dadada;
  background: #fff;
  text-align: left;
}
.checkbox {
  margin-bottom: 2rem;
  margin-top: 10px;
  margin-left: 1rem;
  width: 100%;


}
/* label{
width: 100%;
height: 50px;
} */

.but{
  text-align: center;
  font-size: 10px;
}
.ma1{
  margin-bottom: 2rem;
  margin-top: 1rem;
  display: flex;
}
button {
  font-size: 25px;
  border-style: none;
  height: 50px;
  width: 40%:
  /* width: auto; */
  margin: 0 5px;


}
.but{
  display: flex;
}
.buut1{
  margin-left: 0.5rem;
  color: #fff;
  background-color: #3858a6;
}
.buut2{
  margin-right: 0.5rem;
  color: #fff;
  background-color: #8e8e8e;
}
.btbt{
  width: 50%;
}
