.mp_layout{
  border: 1px solid #bdbdbd;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 524px;
  margin: 30px auto;
  color: #263343;
}

@media screen and (max-width: 800px){
  .mp_layout{
    width: auto;
    height: auto;
  }
}

.mp_header{
  padding: 10px;
  padding-bottom: 20px;
}

.mp_header .mp_img{
  text-align: center;
}

#img_click{
  cursor:pointer;
}
#View_area{
  position:relative;
  height: 100px;
  color: black;
  border: 0px solid black;
  float: left;
  text-align: center;
}

.mp_menu{
  text-align: right;
  padding: 10px;
}

.mp_menu a{
  color: #263343;
}

.mp_row{
  padding: 10px;
}

.mp_head{
  background-color: #bdbdbd;
  padding: 7px;
  color: white;
}
.mp_e{
  padding: 7px;
}
.mp_data_e{
  padding: 7px;
  width: 100px;
}
.mp_data{
  padding: 7px;
}

.mp_data input, .mp_data select{
  padding: 7px;
  width: 200px;
}

.hide{
  display: none;
}
