footer a{
  color: #333;
  text-decoration: none;
}
footer a:hover {
  color: #333
}
footer li{
  list-style: none;
}
footer ul{

  padding-left: 0;
}
footer{
  margin: 0;
}

.tang-footer {
  color: #333;
  font-size: 18px;
  background-color: #f7f7f7;
  padding: 10px;
}
.footbox{
  display: block;
  width: 70%;
  height: auto;
  margin: auto;
}
.pootlist{
  display: block;
  margin-top: 1rem;
}
.pootcopyandgogak{
  display: flex;
  margin-top: 3rem;
}

.sponcl{
  display: flex;
  height: 3rem;
  width:70%
  margin: 5px 0px;
  text-align: center;
  align-items: center;
}
.ftn{
  margin-right: 3rem;
  padding-left: 1rem;
  border-left: 1px solid #bdbdbd;
  color: #333;
}
.foothadan{
  display: block;
  width: 50%;
  background-color: #ffffff;
  padding-top: 12px;
  padding-bottom: 9px;

}
.fottwo{
  padding: 0 29px 0 30px;
}
@media screen and (max-width: 1200px) {

  .tang-footer {
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
  .sponcl{
    display: block;
    height: 3rem;
    width:70%
    margin: 5px 0px;
    text-align: center;
    align-items: center;
  }
  .tang-footer {
    font-size: 10px;
  }
  .ftn{
    margin-right: 1rem;
    padding-left: 1rem;
    border-left: 0;
    color: #333;
  }
  .pootcopyandgogak{
    display: block;
    margin-top: 3rem;
  }
  .pootlist{
    display: block;
    width: 14rem;
  }
  .footbox{
    display: block;
    width: 70%;
    height: auto;
    margin: auto;
  }
}
