footer a{
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  color: #ccc
}
footer li{
  list-style: none;
}
footer ul{

  padding-left: 0;
}
footer{
  margin: 0;
}

.tang-footer {
  color: #848484;
  font-size: 18px;
  background-color: #263343;
  padding: 10px;
}
.footbox{
  display: block;
  width: 50%;
  height: auto;
  margin: auto;
}
.pootlist{
  display: block;
}
.pootcopyandgogak{
  display: flex;
  margin-top: 3rem;
}

@media screen and (max-width: 1200px) {

  .tang-footer {
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
  .tang-footer {
    font-size: 10px;
  }
}
