* {
  margin: 0;
  padding: 0;
}
body{

  font-family: 'Do Hyeon Sans';
}

header a{
  text-decoration: none;
  color: #fff;
}

header a:hover {
  color: #ccc;
}

header i{
  color: #fff;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #263343;
  padding: 8px 12px;>
}

.openmenu{
  font-size: 30px;
  display: none;
  cursor: pointer;
}
.openmenu:hover {
  color:#ccc;
}

.nav_logo {
  font-size: 40px;
}

.nav_menu{
  margin: 0;
  display: flex;
  list-style: none;
}

.nav_menu li{
  display: inline;
  font-size: 20px;
  padding: 8px 20px;
}

.nav_login{
  float: right;
  display: flex;
  list-style: none;
}

.nav_login li{
  font-size: 15px;
  padding: 5px;
}

@media screen and (max-width:1200px) {
  .nav_logo{
    font-size: 30px;
  }
  .nav_menu li{
    font-size: 15px;
    padding: 8px
  }
  .nav_login li{
    font-size: 12px;
  }
}


@media screen and (max-width:800px) {
  .navbar{
    padding: 8px 8px;
  }
  .openmenu{
    margin-left: 10px;
    display: block;
  }
  .nav_menu{
    display: none;
  }
  .nav_logo i{
    display: none;
  }
  .nav_logo{
    position: absolute;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    float: none;
  }
  .nav_login li{
    margin-right: 10px;
    font-size: 12px;
    padding: 3px;
  }
}
